parameters:
    google_credentials_path: '%kernel.project_dir%/%env(GOOGLE_CREDENTIALS_PATH)%'

services:
  Gponty\EntityToGoogleSheetsBundle\Service\EntityReader:
    arguments:
      - '@doctrine'

  Gponty\EntityToGoogleSheetsBundle\Service\GoogleSheetsExporter:
    arguments:
      - '%env(GOOGLE_SHEET_ID)%'
      - '%google_credentials_path%'

  Gponty\EntityToGoogleSheetsBundle\Command\ExportEntitiesToSheetsCommand:
    arguments:
      - '@Gponty\EntityToGoogleSheetsBundle\Service\EntityReader'
      - '@Gponty\EntityToGoogleSheetsBundle\Service\GoogleSheetsExporter'
    tags:
      - { name: console.command }